<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="log-close" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#main"/>
    <link type="seealso" xref="log-view"/>
    <revision version="3.3" date="2011-10-30" status="review"/>
    <desc>Remove the log you are currently viewing from the <gui>side pane</gui>.</desc>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Atribuição-Compartilhada Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Close log</title>

  <p>Close the log that you are currently viewing by pressing
  <keyseq><key>Ctrl</key><key>W</key></keyseq>, or by clicking
  <guiseq><gui>File</gui><gui>Close</gui></guiseq>. This removes it from the
  <gui>side pane</gui> until you open the log again.</p>

</page>
