<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="log-copy" xml:lang="fr">

  <info>
    <link type="guide" xref="index#main"/>
    <revision version="3.3" date="2011-10-30" status="review"/>
    <desc>Copier du texte du journal.</desc>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Partage des Conditions Initiales à l'Identique 3.0 Unported.</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jonathan Ernst</mal:name>
      <mal:email>jonathan@ernstfamily.ch</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>Copie d'un journal</title>

  <p>Surlignez avec le curseur la portion de texte que vous souhaitez copier et appuyez sur <keyseq><key>Ctrl</key><key>C</key></keyseq>, ou cliquez sur <guiseq><gui>Édition</gui><gui>Copier</gui></guiseq>.</p>

  <note style="tip">
    <p>Pour sélectionner tout le texte du journal actuel, appuyez sur <keyseq><key>Ctrl</key><key>A</key></keyseq>, ou cliquez sur <guiseq><gui>Édition</gui><gui>Tout sélectionner</gui></guiseq>.</p>
  </note>

</page>
