<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="log-copy" xml:lang="hu">

  <info>
    <link type="guide" xref="index#main"/>
    <revision version="3.3" date="2011-10-30" status="review"/>
    <desc>Szöveg másolása a naplóból.</desc>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lukács Bence</mal:name>
      <mal:email>lukacs.bence1 at gmail dot com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>Napló másolása</title>

  <p>Jelölje ki a kurzorral a másolni kívánt szöveget, és nyomja meg a <keyseq><key>Ctrl</key><key>C</key></keyseq> billentyűkombinációt, vagy válassza a <guiseq><gui>Szerkesztés</gui><gui>Másolás</gui></guiseq> menüpontot.</p>

  <note style="tip">
    <p>Lenyomhatja a <keyseq><key>Ctrl</key><key>A</key></keyseq> billentyűkombinációt, vagy kiválaszthatja a <guiseq><gui>Szerkesztés</gui><gui>Összes kijelölése</gui></guiseq> menüpontot, az éppen olvasott napló teljes szövegének kijelöléséhez.</p>
  </note>

</page>
