<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="pref-font-size" xml:lang="hu">

  <info>
    <link type="guide" xref="index#main"/>
    <revision version="3.3" date="2011-10-30" status="review"/>
    <desc>Betűméret növelése vagy csökkentése.</desc>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lukács Bence</mal:name>
      <mal:email>lukacs.bence1 at gmail dot com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>Betűméret megváltoztatása</title>

  <p>Növelheti, csökkentheti vagy visszaállíthatja az eredetire a naplóban megjelenő szöveg betűméretét:</p>

  <terms>
    <item>
      <title>Betűméret növelése</title>
      <p>Válassza a <guiseq><gui>Nézet</gui><gui>Nagyítás</gui></guiseq> menüpontot, vagy nyomja le a <keyseq><key>Ctrl</key><key>+</key></keyseq> billentyűkombinációt</p>
    </item>
    <item>
      <title>Betűméret csökkentése</title>
      <p>Válassza a <guiseq><gui>Nézet</gui><gui>Kicsinyítés</gui></guiseq> menüpontot, vagy nyomja le a <keyseq><key>Ctrl</key><key>-</key></keyseq> billentyűkombinációt</p>
    </item>
    <item>
      <title>Eredeti betűméret beállítása</title>
      <p>Válassza a <guiseq><gui>Nézet</gui><gui>Eredeti méret</gui></guiseq> menüpontot, vagy nyomja meg a <keyseq><key>Ctrl</key><key>0</key></keyseq> billentyűkombinációt</p>
    </item>
  </terms>

</page>
