<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="log-copy" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#main"/>
    <revision version="3.3" date="2011-10-30" status="review"/>
    <desc>Copy text from the log.</desc>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

  <title>Copy log</title>

  <p>Highlight the section of the log that you want to copy with the cursor and
  press <keyseq><key>Ctrl</key><key>C</key></keyseq>, or click
  <guiseq><gui>Edit</gui><gui>Copy</gui></guiseq>.</p>

  <note style="tip">
    <p>You can press <keyseq><key>Ctrl</key><key>A</key></keyseq>, or click
    <guiseq><gui>Edit</gui><gui>Select All</gui></guiseq>, to select all the
    text in the log which you are currently viewing.</p>
  </note>

</page>
