<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="log-close" xml:lang="ru">

  <info>
    <link type="guide" xref="index#main"/>
    <link type="seealso" xref="log-view"/>
    <revision version="3.3" date="2011-10-30" status="review"/>
    <desc>Удаление текущего просматриваемого журнала из <gui>боковой панели</gui>.</desc>

    <credit type="author">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Сергей Миронов</mal:name>
      <mal:email>sergo@bk.ru</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>Закрытие журнала</title>

  <p>Чтобы закрыть текущий просматриваемый журнал, нажмите <keyseq><key>Ctrl</key><key>W</key></keyseq> или выберите <guiseq><gui>Файл</gui><gui>Закрыть</gui></guiseq>. Это действие удалит журнал из <gui>боковой панели</gui>, пока вы не откроете его снова.</p>

</page>
